runtime/JATS-section1.ent

<!-- ============================================================= -->
<!--  MODULE:    Section Class Elements                            -->
<!--  VERSION:   ANSI/NISO JATS Version 1.0 (Z39.96-2012)          -->
<!--  DATE:      July 2013                                         -->
<!--                                                               -->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!--                    PUBLIC DOCUMENT TYPE DEFINITION            -->
<!--                        TYPICAL INVOCATION                     -->
<!--
"-//NLM//DTD JATS (Z39.96) JATS DTD Suite Section Class Elements v1.1d1 20130915//EN"
     Delivered as file "JATS-section1.ent"                         -->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!-- SYSTEM:     Journal Archiving and Interchange DTD of the      --> 
<!--             JATS DTD Suite                                    -->         
<!--                                                               -->
<!-- PURPOSE:    Defines the member of the sec.class, that is,     -->
<!--             names all section-level elements in the           -->
<!--             JATS DTD Suite                                    -->
<!--                                                               -->
<!--             At the time of the initial DTD creation           -->
<!--             there is only one such element, Section itself    -->
<!--             <sec>, but future expansion to named sections     -->
<!--             (such as <methodology> or <materials> or any      -->
<!--             new section-level structures would be added here. -->
<!--                                                               -->
<!-- TAG SET SPONSOR                                               -->
<!--             National Center for Biotechnology                 -->
<!--                Information (NCBI)                             -->
<!--             National Library of Medicine (NLM)                -->
<!--                                                               -->
<!-- CREATED FOR:                                                  -->
<!--             This module was created for the JATS DTD Suite.   -->
<!--             Digital archives and publishers may use the       -->
<!--             DTD as is for markup of journal literature or     -->
<!--             related material for archiving and transferring   -->
<!--             such material between archives or create a        -->
<!--             custom XML DTD from the Suite for                 -->
<!--             these purposes.                                   -->
<!--                                                               -->
<!--             This DTD is in the public domain. An organization -->
<!--             that wishes to create its own DTD from the suite  -->
<!--             may do so without permission from NLM.            -->
<!--                                                               -->
<!--             The suite has been set up to be extended using a  -->
<!--             new DTD file and a new DTD-specific customization -->
<!--             module to redefine the many Parameter Entities.   -->
<!--             Do not modify the suite directly or redistribute  -->
<!--             modified versions of the suite.                   -->
<!--                                                               -->
<!--             In the interest of maintaining consistency and    -->
<!--             clarity for potential users, NLM requests:        -->
<!--                                                               -->
<!--             1. If you create a DTD from the JATS DTD Suite    -->
<!--                and intend to stay compatible with the suite,  -->
<!--                then please include the following statement    -->
<!--                as a comment in all of your DTD modules:       -->
<!--                   "Created from, and fully compatible with,   -->
<!--                    the ANSI/NISO Z39.96 Journal Article Tag   -->
<!--                    Suite (JATS)."                             -->
<!--                                                               -->
<!--             2. If you alter one or more modules of the suite, -->
<!--                then please rename your version and all its    -->
<!--                modules to avoid any confusion with the        -->
<!--                original suite. Also, please include the       -->
<!--                following statement as a comment in all your   -->
<!--                DTD modules:                                   -->
<!--                   "Based in part on, but not fully compatible -->
<!--                    with, the ANSI/NISO Z39.96 Journal Article -->
<!--                    Tag Suite (JATS)."                         -->
<!--                                                               -->
<!-- ORIGINAL CREATION DATE:                                       -->
<!--             December 2002                                     -->
<!--                                                               -->
<!-- CREATED BY: Mulberry Technologies, Inc. for the NISO Z39.96   -->
<!--             Working Group. Mulberry Technologies was          -->
<!--             supported by National Center for Biotechnology    -->
<!--             Information (NCBI), a center of the US National   -->
<!--             Library of Medicine (NLM).                        -->
<!--                                                               -->
<!--             This module is part of the JATS DTD Suite. The    -->
<!--             Suite is a continuation of work done by NCBI,     -->
<!--             Mulberry Technologies, and Inera, Inc. on the NLM -->
<!--             Journal Archiving and Interchange DTD Suite, which-->
<!--             was originally released in December, 2002.        -->
<!--                                                               -->
<!--             NLM thanks the Harvard University Libraries, both -->
<!--             for proposing that a draft archiving NLM DTD for  -->
<!--             life sciences journals be extended to accommodate -->
<!--             journals in all disciplines and for sponsoring    -->
<!--             Inera Inc.'s collaboration with other DTD         -->
<!--             authors in completing NLM Version 1.0. The        -->
<!--             Andrew W. Mellon Foundation provided support for  -->
<!--             these important contributions.                    -->
<!--                                                               -->
<!--             Suggestions for refinements and enhancements to   -->
<!--             this DTD should be sent in email to:              -->
<!--                 jats@ncbi.nlm.nih.gov                         -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!--                    DTD VERSION/CHANGE HISTORY                 -->
<!-- ============================================================= -->
<!--

Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
   
     =============================================================
     NISO JATS Version 1.1d1           (DAL/BTU) v1.1 (2013-11-15)
   
     ANSI/NISO Z39.96-2012 (pre-release for V1.0 BITS; Version 1.1) 

     NISO JATS Standing Committee met and answered the requests and
     suggestions from the NISO request forms.
     Details concerning ANSI/NISO Z39.96-2012 JATS-based DTDs, XSDs, 
     RNGs and supporting documentation are available at
           http://jats.nlm.nih.gov/1.1/

  5. GLOBAL ATTRIBUTES - Added the new parameter entity 
         %jats-common-atts;
     to every element in this module. This PE adds (for now) the
     @id attribute and the @xml:base attribute to every element,
     whether metadata or narrative.
     Since the @id in this parameter entity is optional, a second
     parameter entity jats-common-atts-id-required was also added.
     The two are kept in sync with the jats-base-atts parameter 
     entity.
     This added an attribute list to:
      - floats-group
      - sec-meta
   
     =============================================================
     NISO JATS Version 1.0             (DAL/BTU) v1.0 (2012-xx-xx)
   
     ANSI/NISO Z39.96-2012 (Version 1.0) 

     Details concerning ANSI/NISO Z39.96-2012 JATS-based DTDs, XSDs, 
     RNGs and supporting documentation are available at
           http://jats.nlm.nih.gov/1.0/
   
  4. Updated the DTD-version attribute to "1.0" and the formal
     public identifier to the date: "v1.0 20120330//EN".

     =============================================================
     Version 0.4                       (DAL/BTU) v0.4 (2011-01-31)
   
     This Tag Set is in the process of becoming a NISO standard.
     The version numbers are starting over from 0.4", as a Trial
     Use Draft, to be made into "Version 1.0" when the Tag Suite 
     becomes a NISO standard. Thus, the version number that would
     have been "NLM Version 3.1 Draft" has become NISO JATS
     "Version 0.4".

     Details on NISO Trial Use Draft Version 0.4 are available at
           http://jats.nlm.nih.gov/JATS-0.4.
   
  3. Updated the DTD-version attribute to "0.4" 
   
  2. Updated the public identifier to "v0.4 20110131", 
     modified the formal public identifier to include "JATS (Z39.96)",
     and the filename as delivered to include "JATS" and the
     new version number "0".

     =============================================================
     Version 3.0                       (DAL/BTU) v3.0 (2007-10-31)

     Version 3.0 is the first non-backward-compatible release.
     In addition to the usual incremental changes, some
     elements and attributes have been renamed and/or remodeled
     to better meet user needs and to increase tag set consistency.
     All module change histories are available through the Tag Suite
     web site at http://dtd.nlm.nih.gov.

     Details on version 3.0 are available at
           http://dtd.nlm.nih.gov/3.0.

  1. Updated public identifier to "v3.0 20080202//EN"              -->


<!-- ============================================================= -->
<!--                    DEFAULTS FOR ATTRIBUTE LISTS               -->
<!-- ============================================================= -->


<!--                    FLOATS GROUP ATTRIBUTES                    -->
<!--                    Attributes for the <floats-group> element  -->
<!ENTITY % floats-group-atts
            "%jats-common-atts;"                                     >


<!--                    SECTION ATTRIBUTES                         -->
<!--                    Attribute list for Section element         -->
<!ENTITY % sec-atts
            "%jats-common-atts;                                       
             xml:lang   NMTOKEN                            #IMPLIED
             sec-type   CDATA                              #IMPLIED
             disp-level CDATA                              #IMPLIED
             specific-use
                        CDATA                              #IMPLIED" >


<!--                    SECTION METADATA ATTRIBUTES                -->
<!--                    Attributes for the <sec-meta> element      -->
<!ENTITY % sec-meta-atts
            "%jats-common-atts;"                                     >


<!-- ============================================================= -->
<!--                    FLOATS GROUP ELEMENTS                      -->
<!-- ============================================================= -->


<!--                    FLOATS GROUP MODEL                         -->
<!--                    Model for the container element
                        <floats-group>, which can be used to hold all
                        the floating elements such as tables and
                        figures within an <article>.               -->
<!ENTITY % floats-group-model
                        "(%floats-display.class;)*"                  >


<!--                    FLOATS GROUP                               -->
<!--                    This container element is just a group to
                        hold the floating objects that occur within
                        an article. Some publishers like to
                        collect all these floating objects (figures,
                        tables, text boxes, graphics, etc.) together
                        at the end  rather than interspersing them
                        throughout the various parts of the document
                        where they are referenced.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/1.0/index.html?elem=floats-group
                        http://jats.nlm.nih.gov/publishing/tag-library/1.0/index.html?elem=floats-group
                                                                   -->
<!ELEMENT  floats-group %floats-group-model;                         >
<!ATTLIST  floats-group
             %floats-group-atts;                                     >


<!-- ============================================================= -->
<!--                    SECTION ELEMENTS                           -->
<!-- ============================================================= -->


<!--                    SECTION                                    -->
<!--                    A headed group of material; the basic
                        structural unit of the article
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/1.0/index.html?elem=sec
                        http://jats.nlm.nih.gov/publishing/tag-library/1.0/index.html?elem=sec
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/1.0/index.html?elem=sec
                                                                   -->
<!ELEMENT  sec          %sec-model;                                  >
<!ATTLIST  sec
             %sec-atts;                                              >


<!--                    SECTION METADATA                           -->
<!--                    In some articles, each section has a different
                        author or some sections are authored by
                        different contributors from the enclosing
                        article. This container element for
                        section-level metadata is used to capture
                        information such as those contributors.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/1.0/index.html?elem=sec-meta
                        http://jats.nlm.nih.gov/publishing/tag-library/1.0/index.html?elem=sec-meta
                                                                   -->
<!ELEMENT  sec-meta     %sec-meta-model;                             >
<!ATTLIST  sec-meta
             %sec-meta-atts;                                         >


<!-- ================== End Section Class Module ================= -->
