runtime/JATS-funding1.ent

<!-- ============================================================= -->
<!--  MODULE:    Funding Elements                                  -->
<!--  VERSION:   ANSI/NISO JATS Version 1.0 (Z39.96-2012)          -->
<!--  DATE:      July 2013                                         -->
<!--                                                               -->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!--                    PUBLIC DOCUMENT TYPE DEFINITION            -->
<!--                        TYPICAL INVOCATION                     -->
<!--
"-//NLM//DTD JATS (Z39.96) JATS DTD Suite Funding Elements v1.1d1 20130915//EN"
     Delivered as file "JATS-funding1.ent"                         -->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!-- SYSTEM:     JATS DTD Suite                                    -->
<!--                                                               -->
<!-- PURPOSE:    Defines the elements which describe funding for   -->
<!--             the research reported in a work or the open       -->
<!--             access funding for the work                       -->
<!--                                                               -->
<!-- TAG SET SPONSOR                                               -->
<!--             National Center for Biotechnology                 -->
<!--                Information (NCBI)                             -->
<!--             National Library of Medicine (NLM)                -->
<!--                                                               -->
<!-- CREATED FOR:                                                  -->
<!--             This module was created for the JATS DTD Suite.   -->
<!--             Digital archives and publishers may use the       -->
<!--             DTD as is for markup of journal literature or     -->
<!--             related material for archiving and transferring   -->
<!--             such material between archives or create a        -->
<!--             custom XML DTD from the Suite for                 -->
<!--             these purposes.                                   -->
<!--                                                               -->
<!--             This DTD is in the public domain. An organization -->
<!--             that wishes to create its own DTD from the suite  -->
<!--             may do so without permission from NLM.            -->
<!--                                                               -->
<!--             The suite has been set up to be extended using a  -->
<!--             new DTD file and a new DTD-specific customization -->
<!--             module to redefine the many Parameter Entities.   -->
<!--             Do not modify the suite directly or redistribute  -->
<!--             modified versions of the suite.                   -->
<!--                                                               -->
<!--             In the interest of maintaining consistency and    -->
<!--             clarity for potential users, NLM requests:        -->
<!--                                                               -->
<!--             1. If you create a DTD from the JATS DTD Suite    -->
<!--                and intend to stay compatible with the suite,  -->
<!--                then please include the following statement    -->
<!--                as a comment in all of your DTD modules:       -->
<!--                   "Created from, and fully compatible with,   -->
<!--                    the ANSI/NISO Z39.96 Journal Article Tag   -->
<!--                    Suite (JATS)."                             -->
<!--                                                               -->
<!--             2. If you alter one or more modules of the suite, -->
<!--                then please rename your version and all its    -->
<!--                modules to avoid any confusion with the        -->
<!--                original suite. Also, please include the       -->
<!--                following statement as a comment in all your   -->
<!--                DTD modules:                                   -->
<!--                   "Based in part on, but not fully compatible -->
<!--                    with, the ANSI/NISO Z39.96 Journal Article -->
<!--                    Tag Suite (JATS)."                         -->
<!--                                                               -->
<!-- ORIGINAL CREATION DATE:                                       -->
<!--             February 2008                                     -->
<!--                                                               -->
<!-- CREATED BY: Mulberry Technologies, Inc. for the NISO Z39.96   -->
<!--             Working Group. Mulberry Technologies was          -->
<!--             supported by National Center for Biotechnology    -->
<!--             Information (NCBI), a center of the US National   -->
<!--             Library of Medicine (NLM).                        -->
<!--                                                               -->
<!--             The Journal Publishing DTD is built from the      -->
<!--             Archiving and Interchange DTD Suite.              -->
<!--                                                               -->
<!--             Suggestions for refinements and enhancements to   -->
<!--             this DTD should be sent in email to:              -->
<!--                 jats@ncbi.nlm.nih.gov                         -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!--                    DTD VERSION/CHANGE HISTORY                 -->
<!-- ============================================================= -->
<!--

Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
   
     =============================================================
     NISO JATS Version 1.1d1           (DAL/BTU) v1.1 (2013-11-15)
   
     ANSI/NISO Z39.96-2012 (pre-release for V1.0 BITS; Version 1.1) 

     NISO JATS Standing Committee met and answered the requests and
     suggestions from the NISO request forms.
     Details concerning ANSI/NISO Z39.96-2012 JATS-based DTDs, XSDs, 
     RNGs and supporting documentation are available at
           http://jats.nlm.nih.gov/1.1/

 11. INSTITUTION WRAP ADDED
     Added the elements <institution-wrap> to the following elements
     through the institution-wrap.class:
      - funding-source

 10. GLOBAL ATTRIBUTES - Added the new parameter entity 
         %jats-common-atts;
     to every element in this module. This PE adds (for now) the
     @id attribute and the @xml:base attribute to every element,
     whether metadata or narrative.
     Since the @id in this parameter entity is optional, a second
     parameter entity jats-common-atts-id-required was also added.
     The two are kept in sync with the jats-base-atts parameter 
     entity.

     =============================================================
     NISO JATS Version 1.0             (DAL/BTU) v1.0 (2012-xx-xx)
   
     ANSI/NISO Z39.96-2012 (Version 1.0) 

     Details concerning ANSI/NISO Z39.96-2012 JATS-based DTDs, XSDs, 
     RNGs and supporting documentation are available at
           http://jats.nlm.nih.gov/1.0/

  9. PRINCIPAL-AWARD-RECIPIENT MODEL - Added "contrib-id.class" to 
     the <principal-award-recipient> through 
     principal-award-recipient-elements, to hold identifiers for 
     people, such as publishers-specific IDs, ORCIDs, etc..

  8. PRINCIPAL INVESTIGATOR MODEL - Added "contrib-id.class" to 
     the <principal-investigator> through 
     principal-investigator-elements, to hold identifiers for 
     people, such as publishers-specific IDs, ORCIDs, etc..
   
  7. Updated the public identifier to "v1.0 20120330//EN", 
     modified the formal public identifier to include "JATS (Z39.96)",
     and the filename as delivered to include "JATS" and the
     new version number "1".

     =============================================================
     Version 0.4                       (DAL/BTU) v0.4 (2011-01-31)
   
     This Tag Set is in the process of becoming a NISO standard.
     The version numbers are starting over from 0.4", as a Trial
     Use Draft, to be made into "Version 1.0" when the Tag Suite 
     becomes a NISO standard. Thus, the version number that would
     have been "NLM Version 3.1 Draft" has become NISO JATS
     "Version 0.4".

     Details on NISO Trial Use Draft Version 0.4 are available at
           http://jats.nlm.nih.gov/JATS-0.4.
   
  6. Updated the DTD-version attribute to "0.4" 
   
  5. Updated the public identifier to "v0.4 20110131", 
     modified the formal public identifier to include "JATS (Z39.96)",
     and the filename as delivered to include "JATS" and the
     new version number "0".
           http://jats.nlm.nih.gov/0.4.

  4. FUNDING GROUP- Allowed <open-access> to repeat within
     <funding-group>

  3. @SPECIFIC-USE and @XML:LANG - Added the @specific-use and
     @xml:lang to the following elements:

      - award-group through award-group-atts (both)
      - award-id through award-id-atts (both)
      - funding-group through funding-group-atts (both) NEW PE
      - funding-source through funding-source-atts (both)
      - funding-statement through funding-statement-atts (both)
      - open-access through open-access-atts (both) NEW PE
      - principal-award-recipient through
          principal-award-recipient-atts (both) NEW PE
      - principal-investigator through principal-investigator-atts
          (both) NEW PE

  2. OPEN ACCESS MODEL - Changed the model from
         "(p+)"
     to
          "(%just-para;+)"

     =============================================================
     Version 3.0                       (DAL/BTU) v3.0 (2007-10-31)

     Version 3.0 is the first non-backward-compatible release.
     In addition to the usual incremental changes, some
     elements and attributes have been renamed and/or remodeled
     to better meet user needs and to increase tag set consistency.
     All module change histories are available through the Tag Suite
     web site at http://dtd.nlm.nih.gov.

     Details on version 3.0 are available at
           http://dtd.nlm.nih.gov/3.0.

  1. Updated public identifier to "v3.0 20080202//EN"              -->


<!-- ============================================================= -->
<!--                    PARAMETER ENTITIES FOR ATTRIBUTE LISTS     -->
<!-- ============================================================= -->


<!--                    AWARD GROUP ATTRIBUTES                     -->
<!--                    Attributes for the <award-group> element   -->
<!ENTITY % award-group-atts
            "%jats-common-atts;                                       
             rid        IDREFS                            #IMPLIED
             award-type
                        CDATA                             #IMPLIED
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED
             %might-link-atts;"                                      >


<!--                    AWARD IDENTIFIER ATTRIBUTES                -->
<!--                    Attributes for the <award-id> element      -->
<!ENTITY % award-id-atts
            "%jats-common-atts;                                       
             rid        IDREFS                            #IMPLIED
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!--                    FUNDING GROUP ATTRIBUTES                   -->
<!--                    Attributes for the <funding-group>
                        element                                    -->
<!ENTITY % funding-group-atts
            "%jats-common-atts;                                       
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!--                    FUNDING SOURCE ATTRIBUTES                  -->
<!--                    Attributes for the <funding-source> element-->
<!ENTITY % funding-source-atts
            "%jats-common-atts;                                       
             rid        IDREFS                            #IMPLIED
             source-type
                        CDATA                             #IMPLIED
             country    CDATA                             #IMPLIED
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED
             %might-link-atts;"                                      >


<!--                    FUNDING STATEMENT ATTRIBUTES               -->
<!--                    Attributes for the <funding-statement>
                        element                                    -->
<!ENTITY % funding-statement-atts
            "%jats-common-atts;                                       
             rid        IDREFS                            #IMPLIED
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!--                    OPEN ACCESS ATTRIBUTES                     -->
<!--                    Attributes for the <open-access>
                        element                                    -->
<!ENTITY % open-access-atts
            "%jats-common-atts;                                       
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!--                    PRINCIPAL AWARD RECIPIENT ATTRIBUTES       -->
<!--                    Attributes for the <principal-award-recipient>
                        element                                    -->
<!ENTITY % principal-award-recipient-atts
            "%jats-common-atts;                                       
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!--                    PRINCIPAL INVESTIGATOR ATTRIBUTES          -->
<!--                    Attributes for the <principal-investigator>
                        element                                    -->
<!ENTITY % principal-investigator-atts
            "%jats-common-atts;                                       
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!-- ============================================================= -->
<!--                    FUNDING ELEMENTS                           -->
<!-- ============================================================= -->


<!--                    FUNDING GROUP MODEL                        -->
<!--                    Model for the <funding-group> element      -->
<!ENTITY % funding-group-model
                        "(award-group*, funding-statement*,
                         open-access*)"                              >


<!--                    FUNDING GROUP                              -->
<!--                    Container element for information concerning
                        grants, contracts, sponsors, or other
                        funding for the research reported in the
                        work (typically an article), as well as for
                        material on the open access funding for the
                        work, for example, which model of open access
                        funding was used or who paid the open access
                        charges.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/1.0/index.html?elem=funding-group
                        http://jats.nlm.nih.gov/publishing/tag-library/1.0/index.html?elem=funding-group
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/1.0/index.html?elem=funding-group
                                                                   -->
<!ELEMENT  funding-group
                        %funding-group-model;                        >
<!ATTLIST  funding-group
             %funding-group-atts;                                    >


<!--                    FUNDING STATEMENT ELEMENTS                 -->
<!--                    Model for the <funding-statement> element  -->
<!ENTITY % funding-statement-elements
                        "| %address-link.class; | %emphasis.class; |
                         %phrase-content.class; |
                         %subsup.class;"                             >


<!--                    FUNDING STATEMENT                          -->
<!--                    A displayable prose statement that describes
                        the funding for the research on which a work
                        was based. Such a statement is required, for
                        example, by research funded in whole or part
                        by the Wellcome Trust. The statement may
                        mention (and therefore repeat) the funding
                        source, PI, or other funding information.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/1.0/index.html?elem=funding-statement
                        http://jats.nlm.nih.gov/publishing/tag-library/1.0/index.html?elem=funding-statement
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/1.0/index.html?elem=funding-statement
                                                                   -->
<!ELEMENT  funding-statement
                        (#PCDATA %funding-statement-elements;)*      >
<!ATTLIST  funding-statement
             %funding-statement-atts;                                >


<!--                    OPEN ACCESS MODEL                          -->
<!--                    Model for the <open-access> element        -->
<!ENTITY % open-access-model
                        "((%just-para.class;)+)"                     >


<!--                    OPEN ACCESS                                -->
<!--                    A container element to hold metadata
                        concerning the open access provisions that
                        apply to a work, for example which model
                        of charging was used or who paid the open
                        access charges for a journal article.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/1.0/index.html?elem=open-access
                        http://jats.nlm.nih.gov/publishing/tag-library/1.0/index.html?elem=open-access
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/1.0/index.html?elem=open-access
                                                                   -->
<!ELEMENT  open-access  %open-access-model;                          >
<!ATTLIST  open-access
             %open-access-atts;                                      >


<!-- ============================================================= -->
<!--                    AWARD GROUP ELEMENTS                       -->
<!-- ============================================================= -->


<!--                    AWARD GROUP MODEL                          -->
<!--                    Model for the <award-group> element        -->
<!ENTITY % award-group-model
                        "(funding-source*, award-id*,
                          principal-award-recipient*,
                          principal-investigator*)"                  >


<!--                    AWARD GROUP                                -->
<!--                    Container element for information concerning
                        one award that sponsored a work or the
                        research on which the work was based. There
                        may be more than source of funding, a grant
                        grant or contract number, PI, etc.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/1.0/index.html?elem=award-group
                        http://jats.nlm.nih.gov/publishing/tag-library/1.0/index.html?elem=award-group
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/1.0/index.html?elem=award-group
                                                                   -->
<!ELEMENT  award-group  %award-group-model;                          >
<!ATTLIST  award-group
             %award-group-atts;                                      >


<!--                    FUNDING SOURCE ELEMENTS                    -->
<!--                    Model for the <funding-source> element     -->
<!ENTITY % funding-source-elements
                        "%simple-text; | %institution-wrap.class;"   >


<!--                    FUNDING SOURCE                             -->
<!--                    Agency or organization (such as a foundation,
                        corporation, or an educational institution)
                        that funded the research on which a work was
                        based, for example, the Wellcome Trust, NIH,
                        HHS, Princeton University, or Alcoa
                        sponsoring the research for a journal
                        article
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/1.0/index.html?elem=funding-source
                        http://jats.nlm.nih.gov/publishing/tag-library/1.0/index.html?elem=funding-source
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/1.0/index.html?elem=funding-source
                                                                   -->
<!ELEMENT  funding-source
                        (#PCDATA %funding-source-elements;)*         >
<!ATTLIST  funding-source
             %funding-source-atts;                                   >


<!--                    AWARD IDENTIFIER ELEMENTS                  -->
<!--                    Model for the <award-id> element           -->
<!ENTITY % award-id-elements
                        "%simple-text;"                              >


<!--                    AWARD IDENTIFIER                           -->
<!--                    An identifier that has been assigned to the
                        award, for example, a grant number, a grant
                        reference number, or a contract number.
                        [Note, this is a real-world identifier not
                        an XML ID.]
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/1.0/index.html?elem=award-id
                        http://jats.nlm.nih.gov/publishing/tag-library/1.0/index.html?elem=award-id
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/1.0/index.html?elem=award-id
                                                                   -->
<!ELEMENT  award-id     (#PCDATA %award-id-elements;)*               >
<!ATTLIST  award-id
             %award-id-atts;                                         >


<!--                    PRINCIPAL AWARD RECIPIENT ELEMENTS         -->
<!--                    Model for the <principal-award-recipient>
                        element                                    -->
<!ENTITY % principal-award-recipient-elements
                        " | %contrib-id.class; | 
                         %recipient-name.class;"                     >


<!--                    PRINCIPAL AWARD RECIPIENT                  -->
<!--                    The institution or individuals to whom the
                        award was given, for example the principal
                        grant holder
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/1.0/index.html?elem=principal-award-recipient
                        http://jats.nlm.nih.gov/publishing/tag-library/1.0/index.html?elem=principal-award-recipient
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/1.0/index.html?elem=principal-award-recipient
                                                                   -->
<!ELEMENT  principal-award-recipient
                        (#PCDATA
                         %principal-award-recipient-elements;)*      >
<!ATTLIST  principal-award-recipient
             %principal-award-recipient-atts;                        >


<!--                    PRINCIPAL INVESTIGATOR ELEMENTS            -->
<!--                    Model for the <principal-investigator>
                        element                                    -->
<!ENTITY % principal-investigator-elements
                        " | %contrib-id.class; | 
                         %investigator-name.class;"                  >


<!--                    PRINCIPAL INVESTIGATOR RECIPIENT           -->
<!--                    Individual responsible for the intellectual
                        content of the work reported in the article.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/1.0/index.html?elem=principal-investigator
                        http://jats.nlm.nih.gov/publishing/tag-library/1.0/index.html?elem=principal-investigator
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/1.0/index.html?elem=principal-investigator
                                                                   -->
<!ELEMENT  principal-investigator
                        (#PCDATA
                         %principal-investigator-elements;)*         >
<!ATTLIST  principal-investigator
             %principal-investigator-atts;                           >


<!-- ================== End Funding Module ======================= -->
